<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseClass" value=""/>
    <add key="DatabaseName" value="AdventureWorks2014"/>
    <add key="Using" value="System"/>
    <add key="Namespace" value="MyProject.Objects"/>
    <add key="OutputPath" value="c:\temp\generated"/>
    <add key="OutputFileExtention" value="{0}.generated.cs"/>
    <add key="GenerateDapperExtentionsMapperClass" value="true"/>
  </appSettings>
  
  <connectionStrings>
    <add name="dbConnection" connectionString="server=localhost;user=sa;password=password;database=AdventureWorks2014"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
